<nav>
  <ul class="nav-list">
    <li class="nav-list__item"><a href="/">Home</a></li>
    <li class="nav-list__item"><a href="/posts">Posts</a></li>
    <li class="nav-list__item"><a href="/add-post">New Post</a></li>
    <li class="nav-list__item"><a href="/contacts">Contacts</a></li>
  </ul>
</nav>
