<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
<div class="form-wrapper">
    <form id="post-form" method="post" action="/add-post">
        <div class="form-info">
            <div>
                <label for="post-title">Post Title</label>
                <input id="post-title" class="form-field" type="text" name="title" placeholder="Title">
            </div>
            <div>
                <label for="post-author">Post author</label>
                <input id="post-author" class="form-field" type="text" name="author" placeholder="Author">
            </div>
            <div>
                <label for="post-picture">Add picture</label>
                <input id="post-picture" class="form-field" type="file" name="picture" placeholder="Picture">
            </div>
        </div>
        <div class="form-text">
            <label>Post Text
                <textarea name="text" placeholder="Write the text ..."></textarea>
            </label>
        </div>
        <div class="form-button">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>
